# Node
node_modules/

# Build folders
dist/
build/
out/

# Logs
npm-debug.log
yarn-error.log

# OS files
.DS_Store
Thumbs.db

# Environment
.env

# APK & EXE files
*.apk
*.exe

# Android
android/.gradle
android/build

# Cache
.cache/